.wrapper {
    text-align: center;
    margin: 0 auto;
}

.wrapper,
input {
    padding: 10px 50px;
    margin-right: 20px;
    font-size:20px;
}
.wrapper button{
    padding: 10px 20px;
    font-size:20px;
}

.wrapper,
button {
    padding: 5px;
}


.allTodos {
    margin: 10px;
    border: 1px solid rgb(1, 147, 167);
}

.allTodos,
li {
    display: flex;
    justify-content: space-between;
}

.highlight {
    margin-left: 15px;
    margin-right: 5px;
    font-size: 24px;
}

.green {
    color: #28B9B5;
}

.red {
    color: #FF5049;
}

.incompleteWrapper ,.completeWrapper{
    text-align: center;
    width:45%;
    border: 2px solid grey;
    margin:30px 20px;
}